@use "../global" as g;

//---------------------------------------------------------------------------------
//  PC
//---------------------------------------------------------------------------------

.s-review {

  &_ttl {
    color: g.$primary-color;
    font-size: 2.5rem;
    margin-bottom: 50px;
  }

  &_cat {
    color: g.$primary-color;
    font-size: 1.6rem;
    margin-left: 15px;
  }

  &_cat:hover {
    opacity: 0.7;
  }
  
  &_txt {
    margin-top: 10px;
    text-align: justify;
  }
}

//---------------------------------------------------------------------------------
//  SP (max-width: 768px)
//---------------------------------------------------------------------------------